.homepage {
  margin-top: 105px;
  height: max-content;
  align-self: flex-end;
  display: flex;
}

.homeLinks {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homeLinks>img {
  height: 50vh;
  width: auto;
  margin-bottom: 100px;
  border: 2px;
  border-radius: 20px;
}

.homeRechts {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;

  padding-right: 50px;
  padding-left: 50px;
  text-align: end;
}

.homeRechts > button {
  margin-bottom: 50px;
  
  height: 3rem;
  width: 6rem;

  border-radius: 10px;
}

#title {
  font-size: 8vh;
  font-weight: lighter;
  margin-bottom: 20px;
  color: white;
}

#textL {
  font-size: 2.4vh;
  margin-bottom: 30px;
  color: darkblue;
}